
*.bib

*.eps

*.aux

pred_comp_sim-eps-converted-to.pdf

figure2_rough-eps-converted-to.pdf

figure2_healpix-eps-converted-to.pdf

figure2_SNR-eps-converted-to.pdf

*.bbl

*.blg

*.tex

variance_u_v_fields-eps-converted-to.pdf

*.gz

figure2_covariate-eps-converted-to.pdf

*.bst

autocorr_u-eps-converted-to.pdf

autocorr_v-eps-converted-to.pdf

bootstrap_stderr-eps-converted-to.pdf

check_normality-eps-converted-to.pdf

comp-eps-converted-to.pdf

cross_covariance_u_v-eps-converted-to.pdf

supp.log

supp.out
